<div id='rules'>
<h1>Sudoku rules</h1>
You need enter numbers into the empty boxes so that each column, row and box of 9 cells (highlighted with bolder borders) contains all numbers 1 to 9 without any repetitions.
</div>