div.cell {
  display: inline-block;
}

.cell input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 20;
}

#sudoku {
  font-size: 0;
  text-align: center;

}

body {
  text-align: center;
  font-family: Arial;
  color: black;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}

.box {
  outline-style: ridge;
  outline-width: thick;
  outline-color: grey;
  display: inline-block;
}

#flash {
  margin: 20px;
  color: green;
}

button {
  margin-top: 10px;
  display: inline;
}

h1 {
  font-size: 20px;
  text-align: center;
  font-family: Arial;
  color: black;
}